* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a:visited {
    color: inherit;
}

/* Color */
:root {
    --primary: #f15e2c;
    --dark-primary: #ad3200;
    --error: #ba1a1a;
    --success: #5fad56;
    --neutral-0: #202020;
    --neutral-20: #303030;
    --neutral-30: #484649;
    --neutral-50: #787579;
    --neutral-80: #cac4d0;
    --neutral-90: #f1f1f1;
    --neutral-100: #fff;
}

/* Typography */
@font-face {
    font-family: WixMadeFor;
    src: url(../public/font/BT-BeauSans-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: WixMadeFor;
    src: url(../public/font/BT-BeauSans-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: WixMadeFor;
    src: url(../public/font/BT-BeauSans-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: WixMadeFor;
    src: url(../public/font/BT-BeauSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: WixMadeFor;
    src: url(../public/font/BT-BeauSans-ExtraBold.ttf);
    font-weight: 800;
}

html {
    font-family: WixMadeFor;
    font-size: 16px;
    font-weight: normal;
    color: var(--neutral-0);
    user-select: none;
}

h1, .h1 {
    font-size: 96px;
    letter-spacing: -1.5px;
}

h2, .h2 {
    font-size: 60px;
    letter-spacing: -0.5px;
}

h3, .h3 {
    font-size: 48px;
    letter-spacing: 0px;
}

h4, .h4 {
    font-size: 32px;
    letter-spacing: 0.25px;
}

h5, .h5 {
    font-size: 24px;
    letter-spacing: 0px;
}

h6, .h6 {
    font-size: 20px;
    letter-spacing: 0.15px;
}

.title-l {
    font-size: 22px;
    line-height: 28px;
}

.title-m {
    font-size: 16px;
    line-height: 24px;
}

.title-s {
    font-size: 14px;
    line-height: 20px;
}

.body-l {
    font-size: 16px;
    line-height: 24px;
}

.body-m {
    font-size: 14px;
    line-height: 20px;
}

.body-s {
    font-size: 12px;
    line-height: 16px;
}

.label-l {
    font-size: 14px;
    line-height: 20px;
}

.label-m {
    font-size: 12px;
    line-height: 16px;
}

.label-s {
    font-size: 11px;
    line-height: 16px;
}

.shadow-s {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

::placeholder, select, input, button, textarea {
    font-family: WixMadeFor;
}

.form-panel {
    border: 1px solid var(--neutral-0);
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.form-panel > h4 {
    margin-bottom: 4px;
}

.form-row.multiple {
    display: flex;
    gap: 18px;
}

.form-row.multiple div {
    width: 50%;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group > label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 700;
}

.input-group input:not(input[type="color"], input[type="file"]), .input-group select, .input-group textarea {
    outline: none;
    padding: 10px 16px;
    border: 1px solid var(--neutral-0);
    font-size: 16px;
    border-radius: 8px;
}

.summary-panel.edit input, .summary-panel.edit select {
    outline: none;
    padding: 8px 16px;
    border: 1px solid var(--neutral-0);
    font-size: 16px;
    border-radius: 8px;
    width: 350px;
}

.input-group input[type="date"] {
    height: 100%;
}
.input-group input[type="text"]:disabled {
    border: 1px solid var(--neutral-80);
    cursor: not-allowed;
}
.input-group input:focus, .input-group select:focus {
    transform: translate(0, -3px);
    box-shadow: 0 3px 0 0 var(--neutral-0);
    transition: 0.3s;
}

.input-error {
    color: var(--primary);
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
}

hr.divider {
    height: 1.6px;
    background-color: var(--neutral-0);
    margin: 16px 0;
}

    hr.divider.top {
        margin: 0 0 16px 0;
    }

.hidden {
    display: none;
}

.color-palette {
    display: flex;
}

    .color-palette span {
        display: inline-block;
        width: 100px;
        height: 100px;
        padding: 6px;
    }

.primary-text-color {
    color: var(--primary);
}

/* Summary Panel UI */
.summary-panel {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #f1f1f1;
    border-radius: 16px;
    outline: 1px solid var(--neutral-0);
    box-shadow: 0 5px 0 1px var(--neutral-0);
}

.summary-panel strong {
    font-weight: 800;
}

.summary-panel h5 {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-weight: 800;
}

.summary-panel ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.summary-panel li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
}

.summary-panel li > span:last-child {
    text-align: right;
}

.summary-panel ul.total li {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: var(--neutral-0);
}

.summary-panel button {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    color: var(--neutral-100);
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--neutral-0);
    box-shadow: 0 4px 0 0 var(--neutral-0);
}

.summary-panel button:hover {
    box-shadow: none;
    transform: translateY(4px);
    transition: 0.3s;
}

.summary-panel button.small {
    width: 25%;
    padding: 6px 0;
    margin-top: 0;
    color: var(--neutral-100);
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    background-color: var(--primary);
    border-radius: 10px;
    border: 1px solid var(--neutral-0);
    box-shadow: none;
}

.summary-panel button.small:hover {
    box-shadow: none;
    transform: none;
}

/* Button Type 1 UI */
.primary-btn {
    width: 100%;
    padding: 16px 0;
    color: var(--neutral-100);
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--primary);
    border-radius: 10px;
    outline: 1px solid var(--neutral-0);
    box-shadow: 0 4px 0 1px var(--neutral-0);
}

.primary-btn:hover {
    transition: 0.3s;
    transform: translateY(4px);
    box-shadow: none;
}

/* Product Row UI */
.product-row {
    height: 120px;
    display: flex;
    font-size: 14px;
    border-radius: 10px;
    outline: 1px solid var(--neutral-0);
    box-shadow: 0 4px 0 1px var(--neutral-0);
    background-color: var(--neutral-100);
}

.product-row.big {
    height: 200px;
}

.product-row.small {
    height: 80px;
    margin-bottom: 14px;
}

.product-row img {
    height: 100%;
    border-radius: 10px;
    outline: 1px solid var(--neutral-0);
}

.product-row > div {
    padding: 0 18px;
    display: flex;
    width: 100%;
}

.product-row.small > div {
    padding: 10px;
}

.product-row > div div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    color: #999;
}

.product-row.small > div div:first-child {
    font-size: 10px;
}

.product-row > div div:first-child > p:first-child {
    font-size: 16px;
    font-weight: 700;
    color: var(--neutral-0);
    margin-bottom: 6px;
}

.product-row.small > div div:first-child > p:first-child {
    font-size: 12px;
    margin-bottom: 4px;
}

.product-row > div div:last-child {
    margin: auto;
    margin-right: 0;
    color: var(--primary);
    font-weight: 700;
    font-size: 16px;
    text-align: right;
}

.product-row.small > div div:last-child {
    font-size: 12px;
}

.product-row:hover {
    transition: 0.3s;
    transform: translateY(4px);
    box-shadow: none;
}

/* Product Row UI */
.product-row--ver2 {
    height: 86px;
    display: flex;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid var(--neutral-0);
    margin-bottom: 12px;
}

.product-row--ver2 img {
    height: 100%;
    border-radius: 10px;
    outline: 1px solid var(--neutral-0);
}

.product-row--ver2 > div {
    padding: 10px;
    display: flex;
    width: 100%;
}

.product-row--ver2 > div div:first-child {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    color: #999;
}

.product-row--ver2 > div div:first-child > p:first-child {
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 800;
    line-height: 16px;
    color: var(--neutral-0);
}

.product-row--ver2 > div div:last-child {
    margin: auto;
    margin-right: 0;
    color: var(--primary);
    font-weight: 800;
    line-height: 16px;
    font-size: 12px;
    text-align: right;
}

/* Product Card UI */
.product-card {
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    border: 1px solid var(--neutral-0);
    background-color: var(--neutral-100);
}

.product-card.recommended {
    width: calc((1200px - (3 * 20px)) / 4);
}

.product-card img {
    width: 100%;
    height: 100%;
    border-radius: 26px;
    outline: 1px solid var(--neutral-0);
}

.product-card img.normal {
    display: inline;
}

.product-card img.hover {
    display: none;
}

.product-card > div:first-child {
    position: relative;
}

.product-card > div:first-child > div:first-child {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 26px;
}

.product-card > div:first-child > div:first-child a {
    padding: 8px 18px;
    font-weight: 700;
    display: none;
    color: var(--neutral-100);
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--primary);
    border-radius: 50px;
    cursor: pointer;
}

.product-card > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    text-align: center;
}

.product-card > div:last-child a {
    font-weight: 700;
    text-decoration: none;
}
.product-card > div:last-child a:active {
    color: var(--primary);
}

.product-card > div:last-child p:last-child {
    font-weight: 800;
    color: var(--primary);
    margin-top: 10px;
    font-size: 18px;
}

.product-card:hover {
    box-shadow: 4px 4px 0 0 var(--neutral-0);
    transform: translate(-4px, -4px);
    transition: 0.3s;
}

.product-card.recommended:hover {
    box-shadow: none;
    transform: none;
}

.toast-msg {
    background-color: var(--neutral-100);
    display: flex;
    position: fixed;
    gap: 0;
    width: 30%;
    bottom: 0;
    left: 0;
    transform: translate(20px, -20px);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    color: var(--neutral-100);
    z-index: 2;
}

.toast-msg span {
    flex: 1;
    display: flex;
    align-items: center;
}

.toast-msg i:first-child {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
}

.toast-msg.success {
    background-color: var(--success);
}

.toast-msg.danger {
    background-color: var(--error);
}

.toast-msg i:last-child {
    line-height: 80px;
    font-size: 20px;
    padding: 0 16px;
}
