@{
    ViewData["Title"] = "Order Detail";
}

<div class="order-progress-wrapper wide">
    <div class="order-progress__header">
        <h4>Thông tin đơn hàng</h4>
        <p>Mong bạn thông cảm! Vì hệ thống đang cao điểm nên việc giao hàng có thể chậm hơn dự kiến.</p>
    </div>
    <div class="order-progress__body">
        <div>
            <a href=""><i class="fa-solid fa-arrow-left"></i> Back</a><span>Đơn hàng (-> <strong class="primary-text-color">W0383420</strong>)</span>
        </div>
        <div class="progress-wrapper">
            <ul class="progress-label">
                <li class="finished">
                    <span><i class="fa-solid fa-check-to-slot"></i></span>
                    <p>Đặt hàng<br>thành công</p>
                </li>
                <li><i class="fa-solid fa-angle-right"></i></li>
                <li>
                    <span><i class="fa-solid fa-boxes-packing"></i></span>
                    <p>Chuyển qua<br>giao nhận</p>
                </li>
                <li><i class="fa-solid fa-angle-right"></i></li>
                <li>
                    <span><i class="fa-solid fa-truck-arrow-right"></i></span>
                    <p>Đang giao hàng</p>
                </li>
                <li><i class="fa-solid fa-angle-right"></i></li>
                <li>
                    <span><i class="fa-solid fa-house-circle-check"></i></span>
                    <p>Giao hàng<br>thành công</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="order-detail-wrapper wide">
    <div>
        <div class="summary-panel">
            <h5>Thông tin khách hàng</h5>
            <hr class="divider top">
            <ul>
                <li>
                    <span><strong>Họ tên</strong></span>
                    <span>Nguyễn Trường Thịnh</span>
                </li>
                <li>
                    <span><strong>Điện thoại</strong></span>
                    <span>0946968682</span>
                </li>
                <li>
                    <span><strong>Email</strong></span>
                    <span>thinhnguyen2572@gmail.com</span>
                </li>
                <li>
                    <span><strong>Địa chỉ</strong></span>
                    <span>599 Lê Văn Lương</span>
                </li>
                <li>
                    <span><strong>Phường/xã</strong></span>
                    <span>Phường Tân Phong</span>
                </li>
                <li>
                    <span><strong>Quận/Huyện</strong></span>
                    <span>Quận 7</span>
                </li>
                <li>
                    <span><strong>Thành phố/Tỉnh</strong></span>
                    <span>Hồ Chí Minh</span>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <div class="summary-panel">
            <h5>Thông tin giao nhận</h5>
            <hr class="divider top">
            <ul>
                <li>
                    <span><strong>Họ tên</strong></span>
                    <span>Nguyễn Trường Thịnh</span>
                </li>
                <li>
                    <span><strong>Điện thoại</strong></span>
                    <span>0946968682</span>
                </li>
                <li>
                    <span><strong>Email</strong></span>
                    <span>thinhnguyen2572@gmail.com</span>
                </li>
                <li>
                    <span><strong>Địa chỉ</strong></span>
                    <span>599 Lê Văn Lương</span>
                </li>
                <li>
                    <span><strong>Phường/xã</strong></span>
                    <span>Phường Tân Phong</span>
                </li>
                <li>
                    <span><strong>Quận/Huyện</strong></span>
                    <span>Quận 7</span>
                </li>
                <li>
                    <span><strong>Thành phố/Tỉnh</strong></span>
                    <span>Hồ Chí Minh</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="order-detail-wrapper wide">
    <div>
        <div class="summary-panel">
            <h5>Danh sách sản phẩm</h5>
            <hr class="divider top">
            <div class="order-detail-list">
                <div class="product-row">
                    <img src="~/public/image/product.jpg" alt="">
                    <div>
                        <div>
                            <p>Long Sleeve Graphic Tee - Love, Peace & Music</p>
                            <p>Size: 36 | Số lượng: 2</p>
                            <p>580.000 VND</p>
                        </div>
                        <div>12.980.000 VND</div>
                    </div>
                </div>
                <div class="product-row">
                    <img src="~/public/image/product.jpg" alt="">
                    <div>
                        <div>
                            <p>Long Sleeve Graphic Tee - Love, Peace & Music</p>
                            <p>Size: 36 | Số lượng: 2</p>
                            <p>580.000 VND</p>
                        </div>
                        <div>12.980.000 VND</div>
                    </div>
                </div>
                <div class="product-row">
                    <img src="~/public/image/product.jpg" alt="">
                    <div>
                        <div>
                            <p>Long Sleeve Graphic Tee - Love, Peace & Music</p>
                            <p>Size: 36 | Số lượng: 2</p>
                            <p>580.000 VND</p>
                        </div>
                        <div>12.980.000 VND</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="summary-panel">
            <h5>Thông tin đơn hàng</h5>
            <hr class="divider top">
            <ul>
                <li>
                    <span><strong>Ngày tạo</strong></span>
                    <span>22/12/2023</span>
                </li>
                <li>
                    <span><strong>Trạng thái</strong></span>
                    <span>Giao hàng thành công</span>
                </li>
                <li>
                    <span><strong>Phương thức thanh toán</strong></span>
                    <span>Thanh toán trực tiếp khi giao hàng</span>
                </li>
                <li>
                    <span><strong>Phương thức vận chuyển</strong></span>
                    <span>Tốc độ tiêu chuẩn</span>
                </li>
            </ul>
            <hr class="divider">
            <ul>
                <li>
                    <span><strong>Đơn hàng</strong></span>
                    <span>2.140.000 VND</span>
                </li>
                <li>
                    <span><strong>Giảm</strong></span>
                    <span>0 VND</span>
                </li>
                <li>
                    <span><strong>Phí vận chuyển</strong></span>
                    <span>20.000 VND</span>
                </li>
            </ul>
            <hr class="divider">
            <ul class="total">
                <li>
                    <span>Tổng cộng</span>
                    <span class="primary-text-color">2.140.000 VND</span>
                </li>
            </ul>
        </div>
    </div>
</div>