@{
    ViewData["Title"] = "Order List";
}

<div class="user-nav wide">
    <ul>
        <li><a href="">My Account (&#8594; <i class="fa-solid fa-address-card"></i>)</a></li>
        <li class="active"><a href="">My Orders (&#8594; <i class="fa-solid fa-box-open"></i>)</a></li>
        <li><a href="">My Wish List (&#8594; <i class="fa-solid fa-heart"></i>)</a></li>
    </ul>
</div>
<div class="user-container wide">
    <div class="order-list-container">
        <div class="order-row">
            <div class="order-row__header">
                <div>
                    <span>ID (-> <strong>W0383420</strong>)</span><span>Giao thành công</span>
                </div>
                <span class="toggle-button"><i class="fa-solid fa-chevron-down"></i></span>
            </div>
            <div class="order-row__body">
                <div>
                    <div class="product-row">
                        <img src="./public/image/product.jpg" alt="">
                        <div>
                            <div>
                                <p>Long Sleeve Graphic Tee - Love, Peace & Music</p>
                                <p>Size: 36 | Số lượng: 2</p>
                                <p>580.000 VND</p>
                            </div>
                            <div>12.980.000 VND</div>
                        </div>
                    </div>
                    <div class="product-row">
                        <img src="./public/image/product.jpg" alt="">
                        <div>
                            <div>
                                <p>Long Sleeve Graphic Tee - Love, Peace & Music</p>
                                <p>Size: 36 | Số lượng: 2</p>
                                <p>580.000 VND</p>
                            </div>
                            <div>12.980.000 VND</div>
                        </div>
                    </div>
                    <div class="product-row">
                        <img src="./public/image/product.jpg" alt="">
                        <div>
                            <div>
                                <p>Long Sleeve Graphic Tee - Love, Peace & Music</p>
                                <p>Size: 36 | Số lượng: 2</p>
                                <p>580.000 VND</p>
                            </div>
                            <div>12.980.000 VND</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="summary-panel">
                        <h5>Order Summary</h5>
                        <hr class="divider top">
                        <ul>
                            <li>
                                <span><strong>Ngày tạo</strong></span>
                                <span>22/12/2023</span>
                            </li>
                            <li>
                                <span><strong>Trạng thái</strong></span>
                                <span>Giao hàng thành công</span>
                            </li>
                        </ul>
                        <hr class="divider">
                        <ul>
                            <li>
                                <span><strong>Đơn hàng</strong></span>
                                <span>2.140.000 VND</span>
                            </li>
                            <li>
                                <span><strong>Giảm</strong></span>
                                <span>0 VND</span>
                            </li>
                            <li>
                                <span><strong>Phí vận chuyển</strong></span>
                                <span>20.000 VND</span>
                            </li>
                        </ul>
                        <hr class="divider">
                        <ul class="total">
                            <li>
                                <span>Tổng cộng</span>
                                <span class="primary-text-color">2.140.000 VND</span>
                            </li>
                        </ul>
                        <button type="submit">Xem chi tiết</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>