<div style="height: 120px; display: flex; font-size: 14px; border-radius: 10px; outline: 1px solid #202020; box-shadow: 0 4px 0 1px #202020; background-color: #fff;">
    <img style="height: 100%; border-radius: 10px; outline: 1px solid #202020;" src="{product-image}" alt="">
    <div style="padding: 0 18px; display: flex; width: 100%; gap: 18px;">
        <div style="display: flex; flex-direction: column; justify-content: center; font-weight: 500; color: #999; line-height: 20px;">
            <p style="font-size: 16px; font-weight: 700; color: #202020; line-height: 20px; margin-bottom: 12px;">{product-name}</p>
            <p>Size: {product-size} | Số lượng: {product-quantity}</p>
            <p>{product-price}</p>
        </div>
        <div style="margin: auto; margin-right: 0; color: #f15f2e; font-weight: 700; font-size: 16px; text-align: right;">{product-subtotal}</div>
    </div>
</div>