@{
    ViewData["Title"] = "Cart";
}

<!-- <div class="empty-cart-wrapper wide">
            <div>
                <h4>Giỏ hàng của bạn</h4>
                <p>Bạn đang không có sản phẩm nào trong giỏ hàng!</p>
                <a href="">Quay lại mua hàng</a>
            </div>
        </div> -->
<div class="cart-wrapper wide">
    <div class="cart-list-wrapper">
        <div class="cart-header">
            <h4>Giỏ hàng</h4>
            <p>Bạn đang có <span class="decor">10 sản phẩm</span> trong giỏ hàng</p>
        </div>
        <div class="cart-list__item-container">
            <div class="cart-list__item">
                <div class="cart-item__image">
                    <img src="./public/image/product.jpg" alt="">
                </div>
                <div class="cart-item__info">
                    <div class="item-infos">
                        <div class="item-name">Basas Simple Life NE - Low Top - Black</div>
                        <div class="item-unit-price">580.000 VND</div>
                    </div>
                    <div class="item-options">
                        <div class="item-option__size">
                            <div class="option-label">Size</div>
                            <div class="select-wrapper">
                                <i class="fa-solid fa-angle-down"></i>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="item-option__quantity">
                            <div class="option-label">Quantity</div>
                            <div class="select-wrapper">
                                <i class="fa-solid fa-angle-down"></i>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-item__actions">
                    <div class="actions-wrapper">
                        <button><i class="fa-solid fa-xmark"></i></button>
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="item-subtotal">
                        12.980.000 VND
                    </div>
                </div>
            </div>
            <div class="cart-list__item">
                <div class="cart-item__image">
                    <img src="./public/image/product.jpg" alt="">
                </div>
                <div class="cart-item__info">
                    <div class="item-infos">
                        <div class="item-name">Basas Simple Life NE - Low Top</div>
                        <div class="item-unit-price">580.000 VND</div>
                    </div>
                    <div class="item-options">
                        <div class="item-option__size">
                            <div class="option-label">Size</div>
                            <div class="select-wrapper">
                                <i class="fa-solid fa-angle-down"></i>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="item-option__quantity">
                            <div class="option-label">Quantity</div>
                            <div class="select-wrapper">
                                <i class="fa-solid fa-angle-down"></i>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-item__actions">
                    <div class="actions-wrapper">
                        <button><i class="fa-solid fa-xmark"></i></button>
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="item-subtotal">980.000 VND</div>
                </div>
            </div>
            <div class="cart-list__item">
                <div class="cart-item__image">
                    <img src="./public/image/product.jpg" alt="">
                </div>
                <div class="cart-item__info">
                    <div class="item-infos">
                        <div class="item-name">Basas Simple Life NE - Low Top</div>
                        <div class="item-unit-price">580.000 VND</div>
                    </div>
                    <div class="item-options">
                        <div class="item-option__size">
                            <div class="option-label">Size</div>
                            <div class="select-wrapper">
                                <i class="fa-solid fa-angle-down"></i>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="item-option__quantity">
                            <div class="option-label">Quantity</div>
                            <div class="select-wrapper">
                                <i class="fa-solid fa-angle-down"></i>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-item__actions">
                    <div class="actions-wrapper">
                        <button><i class="fa-solid fa-xmark"></i></button>
                        <button><i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="item-subtotal">980.000 VND</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-summary-wrapper">
        <div class="summary-panel">
            <h5>Order Summary</h5>
            <hr class="divider top">
            <ul>
                <li>
                    <span>Đơn hàng</span>
                    <span>2.140.000 VND</span>
                </li>
                <li>
                    <span>Giảm</span>
                    <span>0 VND</span>
                </li>
            </ul>
            <hr class="divider">
            <ul class="total">
                <li>
                    <span>Tạm tính</span>
                    <span>2.140.000 VND</span>
                </li>
            </ul>
            <button>Thanh toán</button>
        </div>
    </div>
</div>