<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnanasMVCWebApp</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/material.css" asp-append-version="true" />
</head>
<body>
    
    @await Html.PartialAsync("_NotificationPartial")
    @await Component.InvokeAsync("Header")
    <div class="main-wrapper">
        @RenderBody()
    </div>
    <div class="footer-wrapper">
        <div class="footer-content wide">
            <div class="footer__info">
                <div class="footer__column">
                    <h6>Sản phẩm</h6>
                    <ul>
                        <li>Giày</li>
                        <li>Quần áo</li>
                        <li>Phụ kiện</li>
                        <li>Sale off</li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h6>Về công ty</h6>
                    <ul>
                        <li>Dứa tuyển dụng</li>
                        <li>Liên hệ nhượng quyền</li>
                        <li>Về Ananas</li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h6>Hỗ trợ</h6>
                    <ul>
                        <li>FAQs</li>
                        <li>Bảo mật thông tin</li>
                        <li>Chính sách chung</li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h6>Social Media</h6>
                    <ul>
                        <li><i class="fa-brands fa-square-facebook"></i></li>
                        <li><i class="fa-brands fa-square-instagram"></i></li>
                        <li><i class="fa-brands fa-square-youtube"></i></li>
                    </ul>
                </div>
            </div>
            <div class="footer__find-store">
                <img src="~/public/graphic/Store.svg" alt="">
                <a href=""><p>Tìm cửa hàng</p><i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <p>Copyright © 2022 Ananas. All rights reserved.</p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a142c3e58b.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>

    </script>
</body>
</html>
