@{
    ViewData["Title"] = "Product List";
}

@section Scripts {
    <script type="text/javascript">
        // Product Card Hover
        var imageName = ""
        $(".product-card").hover(function () {
            // imageName = $(this).find("img").attr("src").replace("~/public/image/","");
            // $(this).find("img").attr("src", "~/public/image/product-1.jpg");
            $(this).find("div:first-child > div a").fadeIn({queue: false, duration: 'fast'}).animate({marginBottom: "14px", }, "fast")
        }, function() {
            // $(this).find("img").attr("src", `~/public/image/${imageName}`);
            $(this).find("div:first-child > div a").fadeOut({queue: false, duration: 'fast'}).animate({marginBottom: "0px"}, "fast")
        })
    </script>
}

<div class="category-banner wide">
    Category(-> <em>Shoes</em>)
</div>
<div class="product-wrapper wide">
    <div class="product-wrapper__filter">
        <div class="filter-item">
            <div>
                <h6>Kiểu dáng</h6>
                <i class="fa-solid fa-angle-up dropdown-arrow--filter"></i>
            </div>
            <div id="style-filter">
                <label class="filter-label" for="1">
                    Low Top
                    <input type="checkbox" name="" id="1" hidden>
                </label>
                <label class="filter-label" for="2">
                    High Top
                    <input type="checkbox" name="" id="2" hidden>
                </label>
                <label class="filter-label" for="3">
                    Slip-on
                    <input type="checkbox" name="" id="3" hidden>
                </label>
                <label class="filter-label" for="4">
                    Mule
                    <input type="checkbox" name="" id="4" hidden>
                </label>
            </div>
        </div>
        <div class="filter-item">
            <div>
                <h6>Dòng sản phẩm</h6>
                <i class="fa-solid fa-angle-up dropdown-arrow--filter"></i>
            </div>
            <div id="collection-filter">
                <label class="filter-label" for="5">
                    Basas
                    <input type="checkbox" name="" id="5" hidden>
                </label>
                <label class="filter-label" for="6">
                    Vintas
                    <input type="checkbox" name="" id="6" hidden>
                </label>
                <label class="filter-label" for="7">
                    Urbas
                    <input type="checkbox" name="" id="7" hidden>
                </label>
            </div>
        </div>
        <div class="filter-item--color">
            <div>
                <h6>Màu sắc</h6>
                <i class="fa-solid fa-angle-up dropdown-arrow--filter"></i>
            </div>
            <div id="color-filter">
                <label for="black">
                    <span></span>
                    <p>Black</p>
                    <input type="checkbox" name="" id="black" hidden>
                </label>
                <label for="red">
                    <span></span>
                    <p>Black</p>
                    <input type="checkbox" name="" id="red" hidden>
                </label>
                <label for="yellow">
                    <span></span>
                    <p>Black</p>
                    <input type="checkbox" name="" id="yellow" hidden>
                </label>
            </div>
        </div>
        <div class="filter-item">
            <div>
                <h6>Giá</h6>
                <i class="fa-solid fa-angle-up dropdown-arrow--filter"></i>
            </div>
            <div id="price-filter">
                <label class="filter-label" for="8">
                    &gt; 600k
                    <input type="checkbox" name="" id="8" hidden>
                </label>
                <label class="filter-label" for="9">
                    200k - 299k
                    <input type="checkbox" name="" id="9" hidden>
                </label>
                <label class="filter-label" for="10">
                    &lt; 200k
                    <input type="checkbox" name="" id="10" hidden>
                </label>
            </div>
        </div>
    </div>
    <div class="product-wrapper__product-list">
        <div class="product-list__container">
            <div class="product-card">
                <div>
                    <div>
                        <a href="">Mua ngay <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <img src="~/public/image/product.jpg" alt="">
                </div>
                <div>
                    <a href="">Vintas Public 2000s - Low Top</a>
                    <p>Caviar Black</p>
                    <p>620.000 VND</p>
                </div>
            </div>
        </div>
        <div class="product-list__pagination">
            <div class="prevBtn">(Prev)</div>
            <div>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li class="checked">3</li>
                    <li>4</li>
                    <li class="empty">...</li>
                    <li>20</li>
                </ul>
            </div>
            <div class="nextBtn">(Next)</div>
        </div>
    </div>
</div>