@{
    ViewData["Title"] = "Login";
}

<div class="action-container wide">
    <div class="form-wrapper login">
        <div>
            <img src="~/public/image/cover-2.jpg" alt="">
        </div>
        <div>
            <h4>Login</h4>
            <hr class="divider top">
            <div class="form-row">
                <div class="input-group">
                    <label for="">Email</label>
                    <input type="text" name="" id="" placeholder="Email">
                    <span class="input-error">Error message</span>
                </div>
            </div>
            <div class="form-row">
                <div class="input-group">
                    <label for="">Password</label>
                    <input type="password" name="" id="" placeholder="Số điện thoại">
                    <a href="">Forgot password</a>
                    <span class="input-error">Error message</span>
                </div>
            </div>
            <button class="primary-btn" type="submit">Login</button>
            <span>Bạn chưa có tài khoản? <a href="">Đăng ký</a></span>
        </div>
    </div>
</div>